# Bytecode
__pycache__/
*.py[cod]

# Ambiente virtual
.venv/
venv/
.env

# IDEs
.idea/
.vscode/

# JetBrains
*.iml
*.toml

# Cache
.pytest_cache/
.mypy_cache/
config.json

# Distribuição
dist/
build/

# Dependências
uv.lock